<div class="page-header">
  <h1>People</h1>
</div>

<p><%= link_to "Sort by first name", root_path(first_name: true) %>
<p><%= link_to "Sort by last name", root_path(last_name: true) %>
<p><%= link_to "Sort by eye color", root_path(eye_color: true) %>
<p><%= link_to "Sort by date of birth", root_path(date_of_birth: true) %>
<p><%= link_to "Only show awesome people", root_path(awesome: true) %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Eye Color</th>
      <th>Date of Birth</th>
      <th>Height in Inches</th>
      <th>Awesome?</th>
      <th>Created At</th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
    <% if person.first_name == 'Casey' %>
    <h1><%= person.first_name %></h1>
    <% end %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.eye_color %></td>
        <td><%= person.date_of_birth %></td>
        <td><%= person.height_in_inches %></td>
        <td><%= person.awesome %></td>
        <td><%= person.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
